* {
  box-sizing: border-box;
}

html,
body {background: #FFB6C1;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 50px;
  color: #9932CC;
}

.top-box h1 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-input {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
}

.fill-input {
  position: relative;
  margin-top: 8px;
}

.fill-input:first-child {
  margin-top: 0;
}

.remfield {
  position: absolute;
  right: -22px;
  top: 0;
  line-height: 35px;
}

input:focus {
  outline: none;
}

.top-box {
  width: 200px;
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: perspective(1px) translateY(-50%);
}

.additem {
  display: block;
  margin-top: 10px;
}
#add{
	color: #000EEE
}
.remove{
	color: #FF0000;
}
#remo:hover{
	color: #0000FF;
}
.add-more {
  color: #C0C8D2;
  cursor: pointer;
}
#add:hover {
  color: #E85D75;
}
